In [24]:
import pandas as pd

bios = pd.read_excel("./data/olympics-data.xlsx")

#results = pd.read_parquet("./data/results.parquet")

#print(results.columns)

display(bios[(bios["height_cm"] > 215) & (bios["born_country"]=="USA")][["name", "height_cm"]])

bios_filtered1 = bios.query('name.str.contains("Patrick|Keith", case=False, na=False)', engine='python')

bios_filtered2 = bios.query('born_country in ["USA", "GBR"] and name.str.contains("Patrick|Keith", case=False, na=False)', engine='python')

bios_filtered3 = bios.query('born_country in ["USA"]')


display(bios_filtered1)
display(bios_filtered2)
display(bios_filtered3)

                    name  height_cm
5781      Tommy Burleson      223.0
6722    Shaquille O'Neal      216.0
6937      David Robinson      216.0
123850    Tyson Chandler      216.0

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,NaN
119,120,Patrick Wheatley,1899-01-20,Vryheid,KwaZulu-Natal,RSA,Great Britain,NaN,NaN,1967-11-05
319,320,Patrick De Koning,1961-04-23,Dendermonde,Oost-Vlaanderen,BEL,Belgium,178.0,92.0,NaN
1897,1907,Keith Hanlon,1966-09-01,NaN,NaN,NaN,Ireland,NaN,NaN,NaN
2115,2125,Patrick Jopp,1962-01-08,NaN,NaN,NaN,Switzerland,176.0,67.0,NaN
...,...,...,...,...,...,...,...,...,...,...
143975,147633,Patrick Chinyemba,2001-01-03,NaN,NaN,NaN,Zambia,NaN,NaN,NaN
144172,147850,Patrick Jakob,1996-10-17,Sankt Johann in Tirol,Tirol,AUT,Austria,NaN,NaN,NaN
144547,148239,Patrick Galbraith,1986-03-11,Haderslev,Syddanmark,DEN,Denmark,NaN,NaN,NaN
144565,148257,Patrick Russell,1993-01-04,Gentofte,Hovedstaden,DEN,Denmark,186.0,93.0,NaN
145435,149158,Patrick Gasienica,1998-11-28,McHenry,Illinois,USA,United States,NaN,NaN,2023-06-12

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
3505,3517,Keith Wallace,1961-03-29,Preston,England,GBR,Great Britain,165.0,51.0,1999-12-31
12053,12118,Keith Hervey,1898-11-03,Fulham,England,GBR,Great Britain,NaN,NaN,1973-02-22
14577,14674,Keith Harrison,1933-03-28,Birmingham,England,GBR,Great Britain,NaN,NaN,NaN
16166,16281,Keith Reynolds,1963-12-25,Solihull,England,GBR,Great Britain,173.0,68.0,NaN
18122,18243,Jim Fitzpatrick,1892-06-02,Los Angeles,California,USA,United States,NaN,NaN,1973-10-09
18130,18251,Jack Patrick,1898-11-25,Palo Alto,California,USA,United States,187.0,95.0,1959-05-31
18585,18712,Patrick Austen,1933-03-18,Kingston-upon-Thames,England,GBR,Great Britain,NaN,NaN,2013-10-14
18734,18862,Keith Sinclair,1945-06-26,Sunderland,England,GBR,Great Britain,190.0,79.0,NaN
29897,30123,Keith Langley,1961-06-03,Aldershot,England,GBR,Great Britain,173.0,70.0,NaN
32759,33005,Patrick O'Neill,1956-03-20,Stamford,Connecticut,USA,United States,198.0,95.0,NaN
34011,34275,Keith Remfry,1947-11-17,Ealing,England,GBR,Great Britain,193.0,114.0,2015-09-16
34513,34782,Patrick Harvey,1935-11-28,Guildford,England,GBR,Great Britain,170.0,63.0,NaN
35830,36114,Patrick Croskerry,1942-10-07,Dover,England,GBR,Canada,198.0,90.0,NaN
36989,37284,Patrick Delafield,1946-04-14,Petersfield,England,GBR,Great Britain,188.0,94.0,NaN
37063,37358,Peter Kirkpatrick,1916-08-24,Brentford,England,GBR,Great Britain,NaN,NaN,1995-10-06
37188,37484,Patrick Sweeney,1952-08-12,London,England,GBR,Great Britain,157.0,50.0,NaN
37223,37519,Patrick Wright,1945-05-20,Nottingham,England,GBR,Great Britain,188.0,92.0,NaN
46885,47234,Keith Collin,1937-01-18,Marylebone,England,GBR,Great Britain,168.0,63.0,1991-03-06
50929,51288,Keith Carter,1924-08-30,Akron,Ohio,USA,United States,NaN,NaN,2013-05-03
51061,51420,Patrick Jeffrey,1965-06-24,Madison,New Jersey,USA,United States,168.0,68.0,NaN
51185,51544,Keith Russell,1948-01-15,Mesa,Arizona,USA,United States,188.0,73.0,NaN
52913,53288,Keith Erickson,1944-04-19,San Francisco,California,USA,United States,196.0,86.0,NaN
55317,55712,Keith Boxell,1958-05-06,Clapham,England,GBR,Great Britain,170.0,87.0,NaN
57818,58226,Keith Peache,1947-08-10,Lewisham,England,GBR,Great Britain,180.0,98.0,NaN
61748,62202,Keith Grogono,1912-11-04,Stratford,England,GBR,Great Britain,NaN,NaN,1999-03-22
62130,62588,Neil Kennedy-Cochran-Patrick,1926-05-05,London,England,GBR,Great Britain,NaN,NaN,1994-10-14
62620,63086,Keith Musto,1936-01-12,Rochford,England,GBR,Great Britain,174.0,72.0,NaN
62678,63144,Keith Notary,1960-01-22,Merritt Island,Florida,USA,United States,170.0,66.0,NaN
62910,63378,Patrick Pym,1936-09-06,Honiton,England,GBR,Great Britain,182.0,86.0,2019-12-04
68324,68841,Keith Angus,1943-04-05,Sheffield,England,GBR,Great Britain,170.0,59.0,NaN
68472,68989,Keith Cullen,1972-06-13,Ilford,England,GBR,Great Britain,177.0,61.0,NaN
68997,69514,Keith Stock,1957-03-18,Woolwich,England,GBR,Great Britain,176.0,73.0,NaN
77550,78141,Keith Brantly,1962-05-23,Scott Air Force Base,Illinois,USA,United States,180.0,64.0,NaN
78288,78879,David Patrick,1960-06-12,Centralia,Illinois,USA,United States,183.0,72.0,NaN
84097,84766,Keith Christiansen,1944-07-14,International Falls,Minnesota,USA,United States,165.0,69.0,2018-11-05
86494,87184,Patrick Howdle,1963-04-24,Driffield,England,GBR,Great Britain,NaN,NaN,NaN
94646,95413,Keith Meyer,1938-06-20,Geneva,Illinois,USA,United States,NaN,NaN,2010-07-25
95267,96037,Keith Oliver,1947-10-27,Liverpool,England,GBR,Great Britain,172.0,68.0,NaN
96452,97229,Keith Schellenberg,1929-03-13,Middlesbrough,England,GBR,Great Britain,NaN,NaN,2019-10-28
97499,98286,Keith Tkachuk,1972-03-28,Melrose,Massachusetts,USA,United States,188.0,102.0,NaN
98068,98860,Keith Wegeman,1929-08-28,Denver,Colorado,USA,United States,NaN,NaN,1974-08-22
98204,98997,Patrick Winterton,1961-09-15,Aldershot,England,GBR,Great Britain,183.0,73.0,NaN
98696,99492,Patrick-Paul Schwarzacher-Joyce,1972-07-05,London,England,GBR,Ireland,188.0,80.0,NaN
99921,100722,Keith Carney,1970-02-03,Providence,Rhode Island,USA,United States,188.0,93.0,NaN
115973,117348,Keith Sanderson,1975-02-02,Plymouth,Massachusetts,USA,United States,183.0,95.0,NaN
117509,119009,Patrick Deneen,1987-12-25,Redmond,Washington,USA,United States,170.0,82.0,NaN
117801,119335,Patrick Kane,1988-11-19,Buffalo,New York,USA,United States,180.0,82.0,NaN
126431,128785,Patrick Meek,1985-11-10,Evanston,Illinois,USA,United States,175.0,71.0,NaN
131192,133959,Patrick Huston,1996-01-05,Belfast,Northern Ireland,GBR,Great Britain,183.0,84.0,NaN
133368,136307,Patrick Reed,1990-08-05,San Antonio,Texas,USA,United States,183.0,91.0,NaN
135130,138272,Patrick Caldwell,1994-02-18,Lebanon,New Hampshire,USA,United States,183.0,77.0,NaN
143735,147390,Patrick Kivlehan,1989-12-22,Nyack,New York,USA,United States,188.0,NaN,NaN
143797,147453,Patrick Sunderman,1994-08-17,Farmington,Minnesota,USA,United States,183.0,NaN,NaN
145435,149158,Patrick Gasienica,1998-11-28,McHenry,Illinois,USA,United States,NaN,NaN,2023-06-12

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
54,55,Monique Javer,1967-07-22,Burlingame,California,USA,Great Britain,177.0,64.0,NaN
960,964,Xóchitl Escobedo,1968-09-17,West Covina,California,USA,Mexico,170.0,60.0,NaN
961,965,Angélica Gavaldón,1973-10-03,El Centro,California,USA,Mexico,160.0,54.0,NaN
1231,1238,Bert Schneider,1897-07-01,Cleveland,Ohio,USA,Canada,NaN,NaN,1986-02-20
1345,1352,Laura Berg,1975-01-06,Santa Fe Springs,California,USA,United States,168.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145445,149168,Kristen Santos,1994-11-02,Fairfield,Connecticut,USA,United States,NaN,NaN,NaN
145446,149169,Corinne Stoddard,2001-08-15,Seattle,Washington,USA,United States,NaN,NaN,NaN
145454,149180,Anna Hoffmann,2000-03-28,Madison,Wisconsin,USA,United States,NaN,NaN,NaN
145457,149183,Alix Wilkinson,2000-08-02,Mammoth Lakes,California,USA,United States,NaN,NaN,NaN
145468,149195,Justin Abdelkader,1987-02-25,Muskegon,Michigan,USA,United States,187.0,97.0,NaN