In [11]:
import pandas as pd
import numpy as np

bios = pd.read_excel("./data/olympics-data.xlsx")

coffee = pd.read_csv("tabelaCafé.csv")

nocs = pd.read_csv("./data/noc_regions.csv")

def categorize_athlete(row):
    if row["height_cm"] < 175 and row["weight_kg"] < 70:
        return "Light Weight"
    elif row["height_cm"] < 185 or row["weight_kg"] <= 80:
        return "Middle Weight"
    
    else:
        return "Heavy Weight"

bios["Category"] = bios.apply(categorize_athlete, axis=1) #axis=1 são as linhas; axis=0 colunas

#coffee_new = coffee.copy() #copia de fato o conteúdo, não somente o mesmo espaço de memória

#results = pd.read_parquet("./data/results.parquet")

#print(results.columns)

#display(bios[(bios["height_cm"] > 215) & (bios["born_country"]=="USA")][["name", "height_cm"]])

#bios_filtered1 = bios.query('name.str.contains("Patrick|Keith", case=False, na=False)', engine='python')

#bios_filtered2 = bios.query('born_country in ["USA", "GBR"] and name.str.contains("Patrick|Keith", case=False, na=False)', engine='python')

#bios_filtered3 = bios.query('born_country in ["USA"]')


#display(bios_filtered1)
#display(bios_filtered2)
#display(bios_filtered3)

#coffee["OldPrice"] = 7.00
#(coffee)
#.drop(columns=["OldPrice"], inplace=True) #inplace=True serve para modificar de fato o arquivo da tabela

coffee["price"] = np.where(coffee["Coffee Type"]=="Espresso", 7.00, 10.00)
coffee["Revenue"] = coffee["Units Sold"] * coffee["price"]

coffee = coffee.rename(columns={"price":"Price"})

display(coffee)

bios_new = bios.copy()

bios_new["first_name"] = bios_new["name"].str.split(" ").str[0]
#print(bios_new["first_name"].head(10))

#bios_new.query('first_name.str.contains("Patrick|Keith", case=False, na=False)', engine="python")
#bios_new.query('first_name == "Patrick" and born_country in ["USA", "GBR"]')

#bios_filtered4 = bios_new.query('first_name in ["Patrick", "Keith"]')

bios_new["borndt"] = pd.to_datetime(bios_new["born_date"])
bios_new["born_dotw"] = bios_new["borndt"].dt.day_of_week # Monday = 0 e Sunday = 
bios_new["born_year"] = bios_new["borndt"].dt.year

display(bios_new[["first_name", "born_year"]]) 

bios_new.to_csv("./data/bios_new.csv")

bios["height_category"] = bios["height_cm"].apply(lambda x: "Short" if x < 165 else ("Average" if x < 185 else "Tall"))

bios_new = pd.merge(bios, nocs, left_on="born_country", right_on="NOC", how="left", suffixes=["bios", "noc"])
bios_new.rename(columns={"region": "born_country_full"}, inplace=True)

bios_new = bios_new[bios_new["NOCbios"] != bios_new["born_country_full"]][["name", "NOCbios", "born_country_full"]]

bra = bios[bios["born_country"]=="BRA"].copy()
gbr = bios[bios["born_country"]=="GBR"].copy()

display(bra)
display(gbr)

#display(bios_new)
#display(bios_filtered4)

          Day Coffee Type  Units Sold  Price  Revenue
0      Monday    Espresso          25    7.0    175.0
1      Monday       Latte          15   10.0    150.0
2     Tuesday    Espresso          30    7.0    210.0
3     Tuesday       Latte          20   10.0    200.0
4   Wednesday    Espresso          35    7.0    245.0
5   Wednesday       Latte          25   10.0    250.0
6    Thursday    Espresso          40    7.0    280.0
7    Thursday       Latte          30   10.0    300.0
8      Friday    Espresso          45    7.0    315.0
9      Friday       Latte          35   10.0    350.0
10  Saturaday    Espresso          45    7.0    315.0
11  Saturaday       Latte          35   10.0    350.0
12     Sunday    Espresso          45    7.0    315.0
13     Sunday       Latte          35   10.0    350.0

           first_name  born_year
0       Jean-François     1886.0
1              Arnaud     1969.0
2                Jean     1898.0
3             Jacques     1895.0
4              Albert     1878.0
...               ...        ...
145495         Polina     2002.0
145496       Valeriya     1999.0
145497         Yuliya     1998.0
145498          André     1899.0
145499           Bill     1913.0

[145500 rows x 2 columns]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,Category,height_category
143,144,Marc-Kevin Goellner,1970-09-22,Rio de Janeiro,Rio de Janeiro,BRA,Germany,196.0,85.0,NaN,Heavy Weight,Tall
353,354,Arci Kempner,1934-02-03,Porto Alegre,Rio Grande do Sul,BRA,Brazil,170.0,60.0,NaN,Light Weight,Average
354,355,Jorge Azevedo,1950-05-10,Rio de Janeiro,Rio de Janeiro,BRA,Brazil,168.0,70.0,NaN,Middle Weight,Average
355,356,Renato Dutra e Mello,1955-05-12,Rio de Janeiro,Rio de Janeiro,BRA,Brazil,167.0,72.0,NaN,Middle Weight,Average
356,357,Vítor Krieger,1960-04-30,Porto Alegre,Rio Grande do Sul,BRA,Brazil,NaN,NaN,NaN,Heavy Weight,Tall
...,...,...,...,...,...,...,...,...,...,...,...,...
144011,147675,Laura Pigossi,1994-08-02,São Paulo,São Paulo,BRA,Brazil,164.0,55.0,NaN,Light Weight,Short
144060,147726,Giulia Guarieiro,1995-07-24,São Paulo,São Paulo,BRA,Brazil,173.0,63.0,NaN,Light Weight,Average
144079,147745,Catarina Macário,1999-10-04,São Luís do Maranhão,Maranhão,BRA,United States,NaN,NaN,NaN,Heavy Weight,Tall
144219,147904,Erick Jerônimo,1993-02-19,Araraquara,São Paulo,BRA,Brazil,NaN,NaN,NaN,Heavy Weight,Tall
144221,147907,Nicole Silveira,1994-05-07,Rio Grande,Rio Grande do Sul,BRA,Brazil,NaN,NaN,NaN,Heavy Weight,Tall

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,Category,height_category
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Heavy Weight,Tall
37,38,Helen Aitchison,1881-12-06,Sunderland,England,GBR,Great Britain,NaN,NaN,1947-05-26,Heavy Weight,Tall
38,39,Geraldine Beamish,1883-06-23,Forest Gate,England,GBR,Great Britain,NaN,NaN,1972-05-10,Heavy Weight,Tall
39,40,Dora Boothby,1881-08-02,Finchley,England,GBR,Great Britain,NaN,NaN,1970-02-22,Heavy Weight,Tall
40,41,Julie Bradbury,1967-02-12,Oxford,England,GBR,Great Britain,175.0,64.0,NaN,Middle Weight,Average
...,...,...,...,...,...,...,...,...,...,...,...,...
144811,148512,Benjamin Alexander,1983-05-08,London,England,GBR,Jamaica,NaN,NaN,NaN,Heavy Weight,Tall
144815,148517,Ashley Watson,1993-10-28,Peterborough,England,GBR,Jamaica,NaN,NaN,NaN,Heavy Weight,Tall
145005,148716,Peder Kongshaug,2001-08-13,Wimbledon,England,GBR,Norway,184.0,86.0,NaN,Middle Weight,Average
145319,149041,Axel Brown,1992-04-02,Harrogate,England,GBR,Trinidad and Tobago,NaN,NaN,NaN,Heavy Weight,Tall
145388,149111,Jean-Luc Baker,1993-10-07,Burnley,England,GBR,United States,NaN,NaN,NaN,Heavy Weight,Tall