In [27]:
import pandas as pd
import numpy as np

bios = pd.read_excel("./data/olympics-data.xlsx")

coffee = pd.read_csv("tabelaCafé.csv")

#coffee_new = coffee.copy() #copia de fato o conteúdo, não somente o mesmo espaço de memória

#results = pd.read_parquet("./data/results.parquet")

#print(results.columns)

#display(bios[(bios["height_cm"] > 215) & (bios["born_country"]=="USA")][["name", "height_cm"]])

#bios_filtered1 = bios.query('name.str.contains("Patrick|Keith", case=False, na=False)', engine='python')

#bios_filtered2 = bios.query('born_country in ["USA", "GBR"] and name.str.contains("Patrick|Keith", case=False, na=False)', engine='python')

#bios_filtered3 = bios.query('born_country in ["USA"]')


#display(bios_filtered1)
#display(bios_filtered2)
#display(bios_filtered3)

#coffee["OldPrice"] = 7.00
#(coffee)
#.drop(columns=["OldPrice"], inplace=True) #inplace=True serve para modificar de fato o arquivo da tabela

coffee["price"] = np.where(coffee["Coffee Type"]=="Espresso", 7.00, 10.00)
coffee["Revenue"] = coffee["Units Sold"] * coffee["price"]

coffee = coffee.rename(columns={"price":"Price"})

display(coffee)

bios_new = bios.copy()

bios_new["first_name"] = bios_new["name"].str.split(" ").str[0]
#print(bios_new["first_name"].head(10))

#bios_new.query('first_name.str.contains("Patrick|Keith", case=False, na=False)', engine="python")
#bios_new.query('first_name == "Patrick" and born_country in ["USA", "GBR"]')

#bios_filtered4 = bios_new.query('first_name in ["Patrick", "Keith"]')

bios_new["borndt"] = pd.to_datetime(bios_new["born_date"])
bios_new["born_dotw"] = bios_new["borndt"].dt.day_of_week # Monday = 0 e Sunday = 
bios_new["born_year"] = bios_new["borndt"].dt.year

display(bios_new[["first_name", "born_year"]])   

#display(bios_filtered4)

          Day Coffee Type  Units Sold  Price  Revenue
0      Monday    Espresso          25    7.0    175.0
1      Monday       Latte          15   10.0    150.0
2     Tuesday    Espresso          30    7.0    210.0
3     Tuesday       Latte          20   10.0    200.0
4   Wednesday    Espresso          35    7.0    245.0
5   Wednesday       Latte          25   10.0    250.0
6    Thursday    Espresso          40    7.0    280.0
7    Thursday       Latte          30   10.0    300.0
8      Friday    Espresso          45    7.0    315.0
9      Friday       Latte          35   10.0    350.0
10  Saturaday    Espresso          45    7.0    315.0
11  Saturaday       Latte          35   10.0    350.0
12     Sunday    Espresso          45    7.0    315.0
13     Sunday       Latte          35   10.0    350.0

           first_name  born_year
0       Jean-François     1886.0
1              Arnaud     1969.0
2                Jean     1898.0
3             Jacques     1895.0
4              Albert     1878.0
...               ...        ...
145495         Polina     2002.0
145496       Valeriya     1999.0
145497         Yuliya     1998.0
145498          André     1899.0
145499           Bill     1913.0

[145500 rows x 2 columns]