In [ ]:
import pandas as pd

bios = pd.read_excel("./data/olympics-data.xlsx")

#results = pd.read_parquet("./data/results.parquet")

#print(results.columns)

display(bios[(bios["height_cm"] > 215) & (bios["born_country"]=="USA")][["name", "height_cm"]])

                    name  height_cm
5781      Tommy Burleson      223.0
6722    Shaquille O'Neal      216.0
6937      David Robinson      216.0
123850    Tyson Chandler      216.0